# Project Configs
.idea/
.vscode/

# Node Modules
node_modules/

# Build
packages/vclight/dist/
packages/vclight-router/dist/
packages/vclight-cli/lib

# Lock File NOT from PNPM
package-lock.json
yarn.lock
